<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.nxtpaperqs"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="31" android:targetSdkVersion="33" />

    <!-- Granted once via: adb shell pm grant dev.nxtpaperqs android.permission.WRITE_SECURE_SETTINGS -->
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Package visibility for TCL's theme service -->
    <queries>
        <package android:name="com.tcl.themehelper" />
    </queries>

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_color_paper"
        android:allowBackup="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ColorPaperTileService"
            android:exported="true"
            android:icon="@drawable/ic_color_paper"
            android:label="@string/tile_color"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>

        <service
            android:name=".InkPaperTileService"
            android:exported="true"
            android:icon="@drawable/ic_ink_paper"
            android:label="@string/tile_ink"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <receiver
            android:name=".ColorPaperWidget"
            android:exported="false"
            android:label="@string/tile_color">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_color_info" />
        </receiver>

        <receiver
            android:name=".InkPaperWidget"
            android:exported="false"
            android:label="@string/tile_ink">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_ink_info" />
        </receiver>

        <service
            android:name=".ModeWatchJob"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".ModeWatchJob$Rearm"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
